.loginContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    /* border: 1px solid black; */
}
h2
{
    margin-bottom: 20px;
}
.inputContainer
{
    width: 300px;
    margin-bottom: 15px;
    /* border: 1px solid black; */
}
.inputContainer label
{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.inputContainer input
{
    /* why 300px gives extra length? */
    width: 283px;   
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.loginButton
{
    width: 300px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.loginButton:hover
{
    background-color: #45a049;;
}
