.registerContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.inputContainer
{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    /* border: 1px salmon solid; */
    width: 330px;
}
.inputContainer label
{
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.inputContainer input
{
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.registerContainer button
{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 210px;
}
.registerContainer button:hover
{
    background-color: #0056b3;
}
.error
{
    color: red;
    font-size: 0.9rem;
    margin-top: 0;
    margin: 0;
    /* border: 1px solid red; */
}