*
{
    background-color: #031d62;
    /* overflow: hidden;    hides scrollbar */
    /* -ms-overflow-style: none;  IE and Edge // dont work lol// */ 
    /* scrollbar-width: none;  Firefox */
    /* height: 100vh; */
    /* overscroll-behavior: none; */
        /* overscroll-behavior: contain; prevents scroll chaining  */
    /* -webkit-overflow-scrolling: auto; disables iOS momentum bounce */
}
h2
{
    margin-top: 2rem;
    margin-bottom: 20px;
    color: white;
    background: none;
    text-align: center;
    font-family: Century Gothic;
}
.mainContainer
{
    display: grid;
    grid-template-columns: 40% 60%;
    border: 1px solid white;
    height: 100vh;
}
.usersContainer
{
    border: 1px solid #190e97;
    overflow-y: auto; /* Enable vertical scrolling */
    color: white;
    top: 0;
}
.usersBar
{
    display: flex;
    margin: auto;
    padding: 1rem;
    position: sticky;
    /* z-index: 1000; */
    top: 0;
    /* left: 0; */
    /* width: 100%; */
    box-sizing: border-box;
    height: 80px;
    /* background-color: #091e58; */
    background-color: rgb(6, 8, 69);
}
.logo
{
    background: none;
    margin-left: 1rem;
}
.logo img
{
    /* border: 1px solid orange; */
    border-radius: 50px;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: none;
}
.appName
{
    font-family: Segoe UI Symbol;
    font-size: 2rem;
    background: none;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.options
{
    width: 3rem;
    border-radius: 0.5rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1708c1;
    transition: 0.5s;
}
.options:hover
{
    transform: scale(1.05);
    transition: transform 0.2s ease;
    cursor: pointer;
    background: #190e97;
}
.userContainer
{
    display: flex;
    margin: 0;
    padding: 1.2rem;
    cursor: pointer;
    color: white;
}
.userContainer:hover
{
    background-color: #0a2c8c;
    transition: background-color 0.3s ease;
}
.userContainerSelected
{
    display: flex;
    border: 1px solid rgb(21, 31, 142);
    margin: 0;
    padding: 1.2rem;
    cursor: pointer;
    color: white;
    background-color: #c5c8d1;
}
.profilePic
{
    border-radius: 50px;
    margin-left: 1rem;
    width:4rem;
    height: 4rem;
    text-align: center;
    background: none;
}
.profilePic img
{
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    /* margin-left: 1rem; */
    transition: 0.5s;
}
.profilePic img:hover
{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.profileName
{
    margin-left: 1rem;
    padding: 0.5rem;
    font-family: Ink Free;
    font-size: 1.5rem;
    font-weight: 800;
    background: none;
    transition: 0.5s;
}
.profileName:hover
{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}